@font-face {
  font-family: "iconfont"; /* Project id 4987767 */
  src: url('iconfont.woff2?t=1753862852576') format('woff2'),
       url('iconfont.woff?t=1753862852576') format('woff'),
       url('iconfont.ttf?t=1753862852576') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-maichepin:before {
  content: "\e603";
}

.icon-aichegujiabeifen12:before {
  content: "\e604";
}

.icon-aichegujiabeifen5:before {
  content: "\e605";
}

.icon-zhuanchezhuanyongbeifen:before {
  content: "\e606";
}

.icon-yonghufankuibeifen:before {
  content: "\e607";
}

.icon-zijinguanli:before {
  content: "\e609";
}

.icon-biaoqianguanli:before {
  content: "\e60a";
}

.icon-caozuoshouce:before {
  content: "\e60b";
}

.icon-guanyuwomen:before {
  content: "\e60d";
}

.icon-yingxiaohuodong:before {
  content: "\e611";
}

.icon-business-icon-buyers-club-fill:before {
  content: "\e822";
}

.icon-catalog-check:before {
  content: "\e826";
}

.icon-catalog-check-fill:before {
  content: "\e827";
}

.icon-customer-group-fill:before {
  content: "\e828";
}

.icon-editor-background-color:before {
  content: "\e829";
}

.icon-cry-fill:before {
  content: "\e839";
}

.icon-favorites-fill:before {
  content: "\e83a";
}

.icon-good-fill:before {
  content: "\e83b";
}

.icon-follow-fill:before {
  content: "\e83c";
}

.icon-hot-for-atmosphere:before {
  content: "\e83d";
}

.icon-info-fill:before {
  content: "\e83e";
}

.icon-location-fill:before {
  content: "\e83f";
}

.icon-lock-fill:before {
  content: "\e840";
}

.icon-smile-fill:before {
  content: "\e841";
}

.icon-success-fill:before {
  content: "\e842";
}

.icon-flag-fill:before {
  content: "\e856";
}

.icon-top-raning-fill:before {
  content: "\e86f";
}

.icon-vip-fill:before {
  content: "\e872";
}

.icon-send-fill:before {
  content: "\e888";
}

.icon-a-commandinquiry-fill:before {
  content: "\e889";
}

.icon-cangshu:before {
  content: "\e647";
}

.icon-chaiquan:before {
  content: "\e648";
}

.icon-buoumao:before {
  content: "\e649";
}

.icon-gengduoquanzhong:before {
  content: "\e64a";
}

.icon-cangao:before {
  content: "\e64b";
}

.icon-bianmu:before {
  content: "\e64c";
}

.icon-fadou:before {
  content: "\e64d";
}

.icon-hashiqi:before {
  content: "\e64e";
}

.icon-helanzhu:before {
  content: "\e64f";
}

.icon-kedaya:before {
  content: "\e650";
}

.icon-jumao:before {
  content: "\e651";
}

.icon-lanmao:before {
  content: "\e652";
}

.icon-nainiumao:before {
  content: "\e653";
}

.icon-keji:before {
  content: "\e654";
}

.icon-jinmao:before {
  content: "\e655";
}

.icon-yang:before {
  content: "\e656";
}

.icon-baimao:before {
  content: "\e657";
}

.icon-sanhuamao:before {
  content: "\e658";
}

.icon-heimao:before {
  content: "\e659";
}

.icon-xianluomao:before {
  content: "\e65a";
}

.icon-wumaomao:before {
  content: "\e65b";
}

.icon-empty:before {
  content: "\e639";
}

.icon-computer:before {
  content: "\e63a";
}

.icon-folder:before {
  content: "\e63b";
}

.icon-copper:before {
  content: "\e63c";
}

.icon-file:before {
  content: "\e63d";
}

.icon-user:before {
  content: "\e63e";
}

.icon-phone:before {
  content: "\e63f";
}

.icon-study:before {
  content: "\e640";
}

.icon-Notice:before {
  content: "\e641";
}

.icon-QA:before {
  content: "\e642";
}

.icon-tag:before {
  content: "\e643";
}

.icon-excel:before {
  content: "\e644";
}

.icon-zip:before {
  content: "\e645";
}

.icon-ppt:before {
  content: "\e646";
}

.icon-word:before {
  content: "\e65c";
}

.icon-jpg:before {
  content: "\e65d";
}

.icon-pdf:before {
  content: "\e65e";
}

